img {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    border: 0px;
}

#images {
    display: flex;
    flex-wrap: wrap;
}

#currentServoAngles {
    display: block;
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.inner-checkbox {
    display: flex;
    align-items: center;
    margin-top: 4px;
    flex-direction: row;
    font-size: 15px;
}

#tweak-parameters-opts {
    display: flex;
}

#tweak-values {
    width: 30%;
}

.tweakParameter {
  display: block;
  width: 100%;
  margin: 5px;
}

#defaultCanvas0 {
    border: 1px solid black;
}

#canvas {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    margin-bottom: 3%;
}

hr {
    margin: 0px;
    border-top: 1px solid black;
}

.tweaker {
    margin-top: 10px;
    margin-bottom: 10px;
}

.camera-button {
    margin: 2px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80%;
}

#camera-btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servo-angles-content {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.bottomButton {
    height: 100%;
}

#textToDrawContainer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 7px;
}

.inputField {
    width: 70px;
}