img {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    border: 0px;
}

.bottomButton,
#currentServoAngles {
  display: block;
    margin: auto;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    margin-bottom: 10px;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-bottom: 10px; /* Add margin bottom for spacing */
}

.inner-checkbox {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

#tweak-values {
    width: 20%;
}

.tweakParameter {
  display: block;
  margin: 5px;
}

#canvas {
    margin-right: 2%;
}

h3 {
    margin: 0px;
    margin-bottom: 3.5%;
}

#camera-angles {
    margin-top: 10%;
}

.camera-button {
    margin: 2px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80%;
}

#camera-btn-container {
    display: flex;
    flex-wrap: wrap;
}